body
  display block
  margin 0 0 0 0
  padding 0

.main-container
  display block
  position fixed
  z-index 1
  top 0
  left 0
  padding 0
  background #444

  width 1024px
  height 768px

.memory-div
  display block
  position absolute
  z-index 2
  margin-top 100px
  margin-left 100px
  width 150px
  // height 450px
  // border white 2px solid

.memory-block
  display block
  z-index 3
  padding auto
  margin auto
  margin-top -1px
  border white 1px solid
  width 150px
  color: white
  text-align center
  line-height 1em

.instruction-queue
  display block
  position absolute
  z-index 3
  padding auto
  margin auto
  float left

  margin-left 100px
  margin-top 640px

  height 55px
  width 551px
  //border white 2px solid

.instruction
  display block
  margin 0
  padding 0
  float left

  height 55px
  width 50px

  text-align center
  line-height 55px
  font-size 1em
  color white

  border white 1px solid

.data-panel
  display block
  position absolute
  z-index 2

  top 100px
  left 300px

  width 450px
  height 100px

  h3
    color white !important
  p
    color white !important

.control-panel
  display block
  position absolute
  z-index 3

  margin auto
  padding auto

  top 250px
  left 300px

  width 250px
  height 300px

  button
    width 100%

.settings-panel
  display block
  position absolute
  top 250px
  left 600px

  legend
    color rgba(255,255,255, 1) !important
  input
    color white !important
    border-bottom: 1px solid rgba(255,255,255,.26);
  label
    color rgba(255,255,255,0.75) !important

.hightlight-blue
  color #1976D2 !important

